<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @r.group %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @r.genre %>
</p>

<p>
  <strong>Link:</strong>
  <%= @r.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @r.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @r.author %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @r.journal %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @r.publish %>
</p>

<p>
  <strong>Published:</strong>
  <%= @r.published %>
</p>

<p>
  <strong>Value:</strong>
  <%= @r.value %>
</p>

<p>
  <strong>Added:</strong>
  <%= @r.added %>
</p>

<p>
  <strong>Name:</strong>
  <%= @r.name %>
</p>

<%= link_to 'Edit', edit_r_path(@r) %> |
<%= link_to 'Back', rs_path %>
